@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    background-color: #f4f5f9;;
    font-family: 'Roboto', Arial,san-serif;
    color: #2A3741;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}  

 @media (max-width: 768px) {     
     body {    background-color: #F2F4F8;}
     
}

th {
    padding-left: 5px;
    text-align: left;
}


::-webkit-scrollbar-track{
    background-color:  rgb(183, 184, 190);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar{
	width: 9px;
    background-color: #F5F5F5;
    border-radius: 0.5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(136, 137, 141);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*---------------
General
------------------*/
a {
    color: #2A3741;
}

a:hover {
    color: #2296BF;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flexColumn {
    display: flex;
    flex-direction: column;  
    height: 100%;
}
.flex1 {flex: 1}
.flex2 {flex: 2}
.flex3 {flex: 3}
.flex4 {flex: 4}
.flex5 {flex: 5}


.height-sm {min-height: 110px; }
.height-md {min-height: 200px; }
.height-lg {min-height: 220px; }
.height450 {min-height:450px; }

.lastRow

.floatRight {float: right}

label {font-weight: normal}


/*---------------
Main Layout
------------------*/

#wrapper {
 position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	overflow: hidden;
}

#page-wrapper {
    position: absolute;
    padding: 0px 20px 20px 20px;
    background-color: #F2F4F8;  
    top:120px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

@media (min-width: 1150px) {
    #page-wrapper {   
        top:62px;
        margin: 0 0 0 0px;
        padding: 0px 60px 20px 60px;
  }
}


.navbar {
    height: 60px;
    margin-bottom: 0;
    border-bottom:1px solid #D3D3D3 !important;
  
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0}
}


.navbar-default {
    background-color: #000000;
    border: 0;   
    }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: tranparent;
}

.navbar-default .navbar-toggle .icon-bar {background-color: #fff}

.navbar-header {
    background: #000000;  
    height: 60px;
}


@media (min-width: 768px) {
    .navbar-header {
        width: 200px;
    }
}


.navbar-brand {
    display: inline-block;
    min-width: 200px;
    background: url(~@wl/logo.png) center 15px no-repeat;
    padding:40px 30px 0 30px;  
    text-align: left;    
    box-sizing: border-box;
}

.navbar-default .navbar-brand  {
    color: rgb(0, 0, 0);
    font-size: 12px;
    letter-spacing:2.1pt;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-top-links {
    background: #000000;
    width: 100%;
    color: rgb(87, 53, 53);
   }

.navbar-top-links li {   
    margin: 5px 5px;
}
    @media (min-width: 768px) {
    .navbar-top-links li {   
        margin: 0px 40px;
        height: 32px;
        line-height: 32px;
         margin: 15px 40px;
        }
    }

.navbar-top-links li a {  
    color: #7E84ff9A;
    padding: 0px;
    min-height: 30px;
}


.navbar-top-links li a:hover {  
    background:transparent; 
    color: #0FA0BD;
}

.navbar-top-links i {
    font-size: 18px;
    vertical-align: middle;
}

.navbar-top-links .dropdown > a > i.icon-user{   
    margin-right: 5px; 
    font-size: 30px;
    vertical-align: middle
}

.navbar-top-links i.fa{    margin-left: 5px;}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #18232E;
    border-color: #2296BF
}

.page-header {
    margin: 23px 0 15px;
    padding: 0;
    color: #7E849A;
    font-size: 20px;
    border: 0;
}

.contentWrapper {
    width:100%;
    margin-bottom:20px;
}

@media (min-width: 1080px) {  
   .contentWrapper {
      width: 100%;
    }
}

.contentWrapper.fixedHeight {
    height:100%;
    overflow: hidden;
}

/*---------------
Buttons
------------------*/
.btn-inline {
    height: 28px;
    line-height: 24px;
    padding: 2px 12px;
    background: #F2F4F8;
    border-color: #20A8D8;
    color: #20A8D8;
    margin: 1px 5px;
    min-width: 100px;
}

.btn-icon {
    min-width: 30px;
    font-size: 20px;
}

.btn-inline:hover {   
    border-color: #2296BF;
    color: #2296BF;
    background: #FFFFFF;
}

.btn-inline.disabled, .btn-inline[disabled], fieldset[disabled] .btn-inline {
    border-color: #AFB4C4;
    color: #AFB4C4;
    background: #E7E9EC;
    opacity: 1;
}

.btn-default {
    background: #20A8D8;
    border: 0;
    color: #fff;
    padding: 10px 12px;
}

.btn-update-vpu {
    display: inline-block;
    width: 157.5px;
    height: 31px;
    border-radius: 40px;
    background-color: #34485a; 
    color: #F2F4F8;
    margin-left: 410px;
    margin-top: -5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.btn-action {
    background: #20A8D8;
    border: 0;
    color: #fff;
    padding: 6px 10px;
}

.btn-red {
    background: #cb1616;
}

.btn-green {
    background: #41cb16;
}

.btn-action.disabled, .btn-action[disabled] {
    background: #AFB4C4;
    opacity: 1;
}

.btn-red:hover {   background: #A50E0E;  color: #fff; }
.btn-green:hover {   background: #3DA91B;  color: #fff; }

.btn-default:hover {   background: #2296BF;  color: #fff; }
.btn-default:focus {    background: #15C6E9;  color: #fff;}

.btn-default.disabled, .btn-default[disabled] {
    background: #AFB4C4 !important;
    opacity: 1;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:0
}

.btn-icon-sm {
    padding: 4px ;
    font-size: 20px;
    min-width:30px;
    height:30px;    
    margin-left: 10px;
}
.btn-warning {background: #F8A900}
.btn-warning:hover {background: #F88F00}

.form-group > div> .btn-inline:first-child {margin-left: 0}

.buttonsLine {
    margin:20px 0;
    min-height: 40px;
}

.buttonsLine .btn-default {   
    min-width: 140px; 
    margin-left: 10px}

@media (max-width: 768px) {
    .buttonsLine .btn-default {   
        min-width: 80px;
        padding: 6px 8px;
        margin-left: 4px;
    }
}

/*---------------
Dashboard
------------------*/
    
.panel-primary {
    border-color:#E1E6EF ;
    border-radius: 0;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.panel-primary>.panel-heading {
    background-color: transparent;
    border: 0;
    color: #576670;
    font-size: 16px;        
}

.panel-primary .panel-body {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #576670;
    padding: 0px 15px  10px 15px  ;
    height: calc(100% - 42px);  
    vertical-align: middle;
    display: flex;
} 

.panel-primary .panel-body {
    display: table;
    width: 100%;
} 

 @media (max-width: 768px) {
    .panel-primary .panel-body {
        padding: 0px 10px  5px 10px ;
    }
}

.panel-primary .panel-body h4 {
    font-size: 14px;
    margin: 0;
    color: #2A3741;
    font-weight: 500;
}

.panel-primary .panel-body .iconPanel {
   display: table-cell;
    width: 150px;
    height: 100%;
    vertical-align: top;
    margin-right: 20px;
    text-align: center;
    font-size: 80px;
    color: #ABE6F2
}
    
@media (max-width: 768px) {
     
    .panel-primary .panel-body .iconPanel {
        width: 60px;
        font-size: 40px;
        margin-right: 10px;
    }
}
          
.statusWrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;   
    vertical-align: middle;
}

.statusWrapper.statusMsg {margin-right: 20px}   

.form-control-static .statusWrapper {
    margin-left: 20px;
}

.statusWrapper i {
    font-size:30px;
    color: #576670;
}

.status-ok {color: #79C447 !important; }
.status-unknown {color: #afb4c4 !important; }
.status-error {color: #FF5454 !important; }
.status-warning {color: #F8CB00 !important; }
    
.panel-primary .details {
    display: inline-block;
    position: relative;
    font-size: 13px;
    /*vertical-align: middle;*/
    flex: 1;
    word-break: break-word;
}

.panel-primary .panel-body > .statusWrapper,
.panel-primary .panel-body > .details {
    display: table-cell !important;
    vertical-align: middle ;
    padding-right: 5px;
}

.panel-primary .details ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.panel-primary .details ul li {
    margin: 0 0 10px 0;
    display: table;
    width: 100%;
}

.statusDetails { 
    display: table-cell;
    font-size: 13px;
    vertical-align: middle;
    flex: 1;
    word-break: break-word;
}

.panel-primary .details ul li .statusWrapper { 
    display: table-cell;
    padding-right: 5px;
}

.panel-primary .details ul li .statusWrapper >.icon {
   font-size: 30px;
   color: #0FA0BD;
}

#dashboardLastRow {height: 450px}
            
#dashboardLastRow  .details {vertical-align: top}

/*---------------
Toggle
------------------*/

  .can-toggle {
    cursor: pointer;
    position: relative;
  }
  .can-toggle *, .can-toggle *:before, .can-toggle *:after {
    box-sizing: border-box;
  }
  .can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .can-toggle input[type="checkbox"][disabled] ~ label {
    pointer-events: none;
  }
  .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
    opacity: 0.4;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    content: attr(data-checked);
  }
  .can-toggle label {
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
  }
  .can-toggle label .can-toggle__switch {
    position: relative;
  }
  .can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-align: center;
  }
  .can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-align: center;
    background: #fbfbfb;
    transform: translate3d(0, 0, 0);
  }
  .can-toggle input[type="checkbox"][disabled] ~ label {
    color: rgba(119, 119, 119, 0.5);
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #777;
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #838383;
  }
  .can-toggle input[type="checkbox"]:hover ~ label {
    color: #6a6a6a;
  }
  .can-toggle input[type="checkbox"]:checked ~ label:hover {
    color: #55bc49;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #70c767;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #4fb743;
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #5fc054;
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    color: #47a43d;
  }
  .can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #848484;
  }
  .can-toggle label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.5);
  }
  .can-toggle label .can-toggle__switch:after {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #777;
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(65px, 0, 0);
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle label {
    font-size: 14px;
  }
  .can-toggle label .can-toggle__switch {
    height: 36px;
    flex: 0 0 134px;
    border-radius: 4px;
  }
  .can-toggle label .can-toggle__switch:before {
    left: 67px;
    font-size: 12px;
    line-height: 36px;
    width: 67px;
    padding: 0 12px;
  }
  .can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 2px;
    width: 65px;
    line-height: 32px;
    font-size: 12px;
  }
  .can-toggle label .can-toggle__switch:hover:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }
  .can-toggle input[type="checkbox"][disabled] ~ label {
    color: rgba(68, 68, 68, 0.5);
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #838383;
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #838383;
  }
  .can-toggle input[type="checkbox"]:hover ~ label {
    color: #838383;
  }
  .can-toggle input[type="checkbox"]:checked ~ label:hover {
    color: #838383;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #838383;
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #838383;
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #838383;
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    color: #838383;
  }
  .can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    background: #838383;
  }
  .can-toggle label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.7);
  }
  .can-toggle label .can-toggle__switch:after {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    color: #444;
  }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(58px, 0, 0);
  }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }
  .can-toggle label {
    font-size: 13px;
  }
  .can-toggle label .can-toggle__switch {
    height: 20px;
    flex: 0 0 120px;
    border-radius: 60px;
  }
  .can-toggle label .can-toggle__switch:before {
    left: 60px;
    font-size: 13px;
    line-height: 19px;
    width: 60px;
    padding: 0 12px;
  }
  .can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    border-radius: 30px;
    width: 58px;
    line-height: 16px;
    font-size: 13px;
  }
  .can-toggle label .can-toggle__switch:hover:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }

/*-------------------- 
Form
-----------------------*/
.panel-default {
    background: #fff;
    border: 1px solid #E1E6EF
}

.slider-and-buttons-container {
    display:inline-block;
    width: 40px;
    height: 230px;
    margin-left: 10px;
}

.slider-and-buttons-container-standard {
    margin-top: 0px;
}

.slider-and-buttons-container-color {
    margin-top: 5px;
}

.slider-title {
    display:inline-block;
    width: 40px;
    height: 13px; 
    font-family: 'Roboto'; 
    font-size: 11px; 
    font-weight: 500; 
    font-style: normal; 
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: 0px; 
    color: #000000; 
    margin-top: 0px;
    margin-left: 9px;
}

.one-btn-modal-text {
    margin-right:1em; 
    font-size: 23pt; 
    line-height: 30px;  
    vertical-align:middle;
    display:inline-block;
}
.formCategory {
    display:inline-block;
    border-bottom:1px solid #E1E6EF;
    vertical-align: top;
    width: 100%;
    padding: 15px 0px 5px 0px;
    box-sizing: border-box;
}

.formCategoryTitle {
    display: block;
    color: #576670;
    font-size: 16px;
    line-height: 22px;
    padding: 2px 15px;
}

.form-horizontal .form-group {
    display: block;
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    font-weight: normal;
    text-align: left;
    line-height: 26px;
    padding: 2px 15px;
    vertical-align: top;
}
@media (max-width: 768px) {
    .form-horizontal .control-label {margin-bottom: 0}
}

.form-horizontal .form-control {
    height: 30px;
    border-color: #AFB4C4;
    padding: 1px 9px;
    vertical-align: top;
}

.form-control-static {
    min-height: 30px;
    line-height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-sm { width: 100px}
.form-time { width: 70px}

.inline-control {display: inline-block}

.inline-control + label {
    margin-left: 10px;
    line-height: 30px;
    margin-bottom: 0
}

.inline-form .control-label {padding-left: 0}

.progress {
    margin: 5px 0; 
    background: #AFB4C4;
    position: relative;
    }
.progress.inline {margin-top:-5px }

.progress-bar {background: #0FA0BD}
.progress-bar-used {background: #79C447}
.progress-bar-free {background: #AFB4C4}
.progress-bar-full {background: #C62B14}


.progress-label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 10;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F4F8;
  -webkit-transition: .4s;
  transition: .4s;
     border:1px solid #ACB1C1;
}

.slider-highlights {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #838383;
  -webkit-transition: .4s;
  transition: .4s;
     border:1px solid #ACB1C1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -1px;
  top: 0px;
  background-color: white;
    border:1px solid #ACB1C1;
  -webkit-transition: .4s;
  transition: .4s;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.slider-highlights:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 60px;
    left: -1px;
    top: 0px;
    border-radius: 7.4px;
    background-color: #fbfbfb; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }

input:checked + .slider {
  background-color: #15C6E9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #15C6E9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
}

input:checked + .slider-highlights:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

input + .slider:after {
    content: "Off";
    display: inline-block;
    color: #AFB4C4;
    position: absolute;
    right: 10px;
    line-height: 26px;
}

input:checked + .slider:after {
    content: "On";
    color: #fff;
     left: 10px;
}

input + .slider-highlights:after {
    content: "Shadows";
    display: inline-block;
    color: #AFB4C4;
    position: absolute;
   right: 10px;
    line-height: 16px;
}

input:checked + .slider-highlights:after {
    content: "Highlights";
    color: #fff;
     left: 10px;
}


/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------------------------------ 
Checkbox & Radio
------------------------------*/
.checkbox-btn,.radio-btn{
    position:relative;
    padding: 2px 10px 2px 35px;
}

.checkbox-btn input[type="checkbox"],
.checkbox-btn input[type="radio"],
.radio-btn input[type="checkbox"],
.radio-btn input[type="radio"]{
    position:absolute;
    opacity:0;z-index:1}

.checkbox-btn label,
.radio-btn label{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    padding-left:10px;
    margin-bottom: 0;
    cursor:pointer;
    user-select:none;
    color:#2A3741
}

.checkbox-btn label::after,
.radio-btn label::after{
    position:absolute;
    content:"";
    width:18px;
    height:18px;
    left:0;
    top:0;
    margin-left:-18px;
    background-color:#fff;
    border:1px solid #AFB4C4;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-clip:padding-box;
    cursor:pointer}

.checkbox-btn label::before,
.radio-btn label::before{
    position:absolute;
    top: -4px;
     width:18px;
    height:18px;
    font-family: fontawesome;
    opacity: 0;
    font-size: 16px;
    color: #26A5D3;
    margin-left: -27px;
    background:transparent;
    z-index:1}

.checkbox-btn label::before{content:"\f00c";}
.radio-btn label::before{content:"";}

.checkbox-btn label:active::before,
.radio-btn label:active::before{opacity:0.3}

.checkbox-btn input[type="checkbox"]:checked+label::after,
.checkbox-btn input[type="radio"]:checked+label::after,
.radio-btn input[type="checkbox"]:checked+label::after,
.radio-btn input[type="radio"]:checked+label::after{
    border:1px solid #AFB4C4;     
    }

.checkbox-btn input[type="checkbox"]:checked+label::before,
.checkbox-btn input[type="radio"]:checked+label::before,
.radio-btn input[type="checkbox"]:checked+label::before,
.radio-btn input[type="radio"]:checked+label::before{
    opacity:1}


.checkbox-btn input[type="checkbox"]:disabled+label,
.checkbox-btn input[type="radio"]:disabled+label,
.radio-btn input[type="checkbox"]:disabled+label,
.radio-btn input[type="radio"]:disabled+label{    
    color:#787878;
    cursor:default }

.checkbox-btn input[type="checkbox"]:disabled+label::after,
.checkbox-btn input[type="radio"]:disabled+label::after,
.radio-btn input[type="checkbox"]:disabled+label::after,
.radio-btn input[type="radio"]:disabled+label::after{
    border:2px solid #787878;
    background-color:#ffffff}

.checkbox-btn input[type="checkbox"]:disabled+label::before
{
    color: #787878;
}
    /*.checkbox-btn input[type="checkbox"]:disabled+label::before,*/
.checkbox-btn input[type="radio"]:disabled+label::before,
.radio-btn input[type="checkbox"]:disabled+label::before,
.radio-btn input[type="radio"]:disabled+label::before{display:none}
.radio-btn label::after{
    -webkit-border-radius:50%;
    border-radius:50%;
    background-clip:padding-box}

.radio-btn label::before{
    width:10px;
    height:10px;
    border:none;
    top:4px;
    left:13px;
    -webkit-border-radius:50%;
    border-radius:50%;
    background-clip:padding-box;
    background-color:#21A3D2}



/*-------------Responsive for 768 and down  ----------*/

 @media (max-width: 768px) {
     
     .navbar-top-links.navbar-left li {
        margin:5px 10px;
        height: 20px;
        line-height: 20px;
        }
     
     .navbar-top-links.navbar-right {margin-top: 5px}
    
     .navbar-top-links.navbar-right i {
    font-size: 14px;
    vertical-align: middle;}
     
    .statusWrapper {
        width: 24px;   
        height: 24px;
        margin-right: 5px ;
      }
     
     .statusWrapper i {font-size: 24px;}
     
     .statusWrapper.statusMsg {margin-right: 10px}     
          
     .panel-primary .details ul li .statusWrapper >.icon {font-size: 20px;}
     
     #vpuDraw .label {
    font-size: 11px;
     max-width: 50px;     
     }
     
    #vpuDraw .horizontalLine {
    width:40px;
    margin-top: 12px; /*-half height of the icon -*/
}
}

 

#eventsFilter .filterDate {
    text-align: right !important;
}
#eventsFilter .status-list {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}

#eventsFilter .status-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70px;
}

.status-list ul>li.status-item {
    display: block;
    width: 190px;
    float:left;
    position: relative;   
    padding:12px 20px 12px 60px;
    border-right: 1px solid #E1E6EF;
    cursor: pointer;
}
.status-list ul>li.status-item:hover,
.status-list ul>li.status-item.chosen  {color:#fff;}

.status-list ul>li.status-critical:hover,
.status-list ul>li.status-critical.chosen {background:#FF5454;}
.status-list ul>li.status-major:hover,
.status-list ul>li.status-major.chosen {background:#F8A300;}
.status-list ul>li.status-minor:hover,
.status-list ul>li.status-minor.chosen {background:#F8CB00;}
.status-list ul>li.status-info:hover,
.status-list ul>li.status-info.chosen {background:#52ACFF;}

ul.eventlist li:before,
.status-list ul>li.status-item:before {
    display:block;
    position: absolute;
    top: 5px;
    left: 10px;
    width:40px;
    height: 40px;
    content: "";
    font-family: 'vpum' !important;
    font-size: 40px;
}



.status-list .status-critical .status-counter  {color:#FF5454}
.status-list .status-major .status-counter  {color:#F8A300}
.status-list .status-minor .status-counter  {color:#F8CB00}
.status-list .status-info .status-counter  {color:#52ACFF}

.status-list .status-critical.chosen .status-counter,
.status-list .status-major.chosen .status-counter,
.status-list .status-minor.chosen .status-counter,
.status-list .status-info.chosen .status-counter,
.status-list ul>li.status-item.chosen:before,
.status-list .status-critical:hover .status-counter,
.status-list .status-major:hover .status-counter,
.status-list .status-minor:hover .status-counter,
.status-list .status-info:hover .status-counter,
.status-list ul>li.status-item:hover:before {color:#fff;}

.status-list .status-counter  {
    display: block;
    font-size:18px;
}


.status-list .status-label  {
   text-decoration: underline;
   font-size:12px;   
}

@media (max-width:1280px) {    
    .status-list ul>li.status-item {
        display: block;
        width: 130px;
    }
}

@media (max-width:980px) {    
    .status-list ul>li.status-item {
        display: block;
        width: 100px;
        padding-left: 40px;
        padding-right: 10px;
    }
    
    
    .status-list ul>li.status-item:before {
        width: 30px;
        height: 30px;
        font-size: 30px; 
        left: 5px;
    }
}

.list {   
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0 ;
}

.cancel-icon {
    background-image: url('../img/cancel.svg');
}

.recycle-bin-icon {
    background-image: url('../img/recycle_bin.svg');
}

.green-ok-icon {
    background-image: url('../img/green_ok.svg');
}

.dark-panel {
    /* border: 3px solid orange; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-middle {
    position: absolute;
    top: 0;
    left: 50%;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-middle {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.search-wrapper {
    margin-bottom: 10px;
}

.search-key {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: solid 0.5px rgba(46, 46, 46, 0.44); 
    color:  rgb(255, 255, 255); 
    width: 40%;
    overflow: hidden;
    border-radius: 3px;
    text-align: left;
    padding: 2px;
    padding-left: 5px;
}

.btn-search-movie {
    position: relative;
    display:inline-block;
    width: 130px;
    height: 32px;
    border-radius: 20px;
    background-color: #4C5E70;
    border: solid 0.5px rgba(194, 194, 194, 0.44); 
    font-size: 15px;
    font-weight: 800;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #ffffff;
}
.btn-search-movie:hover {
    background-color: rgb(99, 122, 145);
    color: #000000;
}
.canvas-section #frame-wrapper {
    width: auto;
    height: 525px;
    position: relative;
}
.setup-mode-btn-container {
    align-items: center;
}
.canvas-section {
    padding: 15px;
    border-bottom: none;
}
.canvas-section > .details-section {
    display: flex;
    padding: 10px 0;
}
.details-section > .hint {
    padding-left: 0;
}
.zoom-section {
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.refresh-btn-section {
    padding: 0;
    width: fit-content;
    margin-left: auto;
}
.refresh-btn-section .refresh-btn {
    border-radius: 19px;
    padding: 2px 10px;
    outline: none;
    border: none;
    box-shadow: 0 1px 4px 0 #afb4c4;
    background-color: #fff;
}
.slider-wrapper {
    display: flex;
    align-items: center;
}
.slider-wrapper > .slider-btn {
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 12px;
    border: solid 1px #979797;
}
.slider-wrapper > .slider-btn[disabled], .slider-input[disabled] {
   cursor: not-allowed;
}
.slider-wrapper > .slider-input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50px;
    margin: 0 5px;
    width: auto;
    height: 8px;
    background:#d7d7d7;
    border: solid 1px #bdbdbd;
    outline: none;
}
.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 15px;
    border-radius: 50px;
    border: solid 1px #000;
    background-color: #fff;
    cursor: pointer;
}
.padding-0 {
    padding: 0;
}
.straightened-preview-section > .header {
    padding-bottom: 10px;
    display: flex;
}
.straightened-preview-section > .header .hint {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.straightened-preview-section > .header .title {
    padding-left: 0;
}
.straightened-preview-section > .align-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    background-color: #272727;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
    height: 200px;
}
.align-section > .align-image {
    position: absolute;
    height: 100%;
}
.grid:after, .grid:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #403c2c 1px, transparent 0px),repeating-linear-gradient(to bottom, transparent 1px, transparent 20px, #403c2c 21px);
    background-size: 17px;
}
.straightened-preview-section .grid-area label {
    color: #1e1e1e;
    padding-top: 2px;
    font-size: 12px;
}
.straightened-preview-section .grid-area {
    padding-right: 0;
}
.change-state-section .state-btn .fa {
    margin-right: 4px;
}
.custom-field-wrapper {
    padding: 15px 0;
    display: flex;
    flex: 0 0 100%;
    border-bottom: solid 1px #e4e4e4;
}
.custom-field-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.custom-field-btn-section button {
    border-radius: 17px;
    background-color: #3596b1;
    border: none;
    outline: none;
    color: #fff;
    padding: 6px 88px;
}
.custom-field-btn-section button[disabled] {
    background-color: #ebebeb;
    cursor: not-allowed;
}
.custom-field-wrapper .custom.add-area-btn {
    padding: 18px 44px;
    margin: 0 10px;
}
.custom-field-wrapper .custom-field-name {
    border-radius: 4px;
    padding: 6px 16px;
    box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    outline: none;
}
.custom-field-wrapper .custom-field-name.error {
    border: solid 1px red;
}
.custom-field-wrapper .delete-btn {
    margin-left: auto;
}
.custom-field-wrapper .delete-btn {
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 18px;
    align-items: center;
}
.preview-section {
    padding: 15px 0;
}
.preview-section .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.preview-section .hint {
    padding: 10px 0;
}
.preview-section .preview-wrapper {
    display: flex;
    width: 100%;
    min-height: 140px;
    position: relative;
    border-radius: 4px;
}
.preview-wrapper .preview-overlay {
    background-color: rgba(63, 63, 63, 0.81);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}
.preview-wrapper .preview-overlay p {
    width: 80%;
}
.preview-section .preview-img {
    width: 100%;
    background-size: contain;
}
.info-icon {
    margin-left: auto;
    margin-right: 10px;
    outline: none;
    width: 17px;
    height: 17px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 0.7px #acb1c1;
    background-color: #fff;
}
